<main class="page__property-details">
  <section class="property-details">
    <div class="property-details__container container">
      <div class="property-details__title">
        <h1>{{ property.title }}</h1>
        <span>
          <img src="/property-details/Icon.svg" alt="Icon">
          {{ property.location }}
        </span>
      </div>
      <div class="property-details__price">
        <span>Price</span>
        ${{ property.price }}
      </div>
    </div>
  </section>
  <section class="property-slider">
    <div class="property-slider__container container">
      <div class="property-slider__images">
        <img src="/property-details/proerty-details-1.jpg" alt="Image">
        <img src="/property-details/proerty-details-2.jpg" alt="Property Image">
      </div>
    </div>
  </section>
  <section class="description">
    <div class="description__container container">
      <h2>Description</h2>
      <p>{{ property.description }}</p>
      <div class="description__area">
        <span>Area</span>
        {{ property.area }}
      </div>
    </div>
  </section>
  <section class="property-form">
    <div class="property-form__container container">
      <div class="property-form__inquire">
        <h2>Inquire About {{ property.title }}</h2>
        <p>Interested in this property? Fill out the form below, and our real estate experts will get back to you with
          more details, including scheduling a viewing and answering any questions you may have.</p>
      </div>
      <div class="property-form__form">
        <form [formGroup]="createBookingForm" (ngSubmit)="onSubmit()">
          <div class="property-form__name">
            <label for="name">First Name</label>
            <input type="text" id="name" formControlName="name"/>
          </div>
          <div class="property-form__surname">
            <label for="surname">Last Name</label>
            <input type="text" id="surname" formControlName="surname">
          </div>
          <div class="property-form__phone">
            <label for="phone">Phone Number</label>
            <input type="tel" id="phone" formControlName="phone">
          </div>
          <div class="property-form__date">
            <label for="date">Choose Desired Date</label>
            <input type="date" id="date" formControlName="date">
          </div>
          <div class="property-form__picked-property">
            {{ property.title }}
          </div>
          <button type="submit">Book Property</button>
        </form>
      </div>
    </div>
  </section>
</main>
