@import "../../../base-scss/mixins";

.discover {
  &__container {
    display: flex;
    justify-content: flex-start;
    padding-bottom: toRem(80);
  }
  &__property {
    padding-top: toRem(144);
    margin-right: toRem(80);
  }
  &__image {
    img {
    }
  }
}

.property {
  h1 {
    font-size: toRem(60);
    max-width: toRem(758);
    line-height: 120%;
    font-weight: 600;
    margin-bottom: toRem(24);
  }
  p {
    font-size: toRem(18);
    max-width: toRem(758);
    font-weight: 500;
    color: #999999;
    margin-bottom: toRem(60);
  }
  &__buttons {}
}

.buttons {
  color: white;
  display: flex;
  align-items: center;
  gap: toRem(20);
  text-align: center;
  margin-bottom: toRem(60);
  &__black {
    color: white;
    padding: 18px 24px 18px 24px;
    border: #262626 solid 1px;
    border-radius: toRem(10);
    &:hover {
      background-color: #703BF7;
    }
    transition: all 0.5s ease;
  }
  &__purple {
    color: white;
    padding: 18px 24px 18px 24px;
    background-color: #703BF7;
    border-radius: toRem(10);
    &:hover {
      background-color: #262626;
    }
    transition: all 0.5s ease;
  }
}

