<main class="page">
  <section class="page__hero hero">
    <div class="hero__container container">
      <div class="hero__left">
        <div class="hero__title">
          <h1>Discover Your Dream Property with Estatein</h1>
          <p>
            Your journey to finding the perfect property begins here. Explore our listings to find the home that matches
            your dreams.
          </p>
        </div>
        <div class="hero__buttons">
          <button class="hero__button-black">Learn More</button>
          <button class="hero__button-purple">Browse Properties</button>
        </div>
        <div class="hero__stats">
          <div class="hero__item">
            <span>200+</span>
            <p>Happy Customers</p>
          </div>
          <div class="hero__item">
            <span>10k+</span>
            <p>Properties For Clients</p>
          </div>
          <div class="hero__item">
            <span>16+</span>
            <p>Years of Experience</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hero__right">
      <img src="/hero-page/hero-image.jpg" alt="Image">
    </div>
  </section>
</main>
