<main class="page">
  <section class="page__hero hero">
    <div class="hero__container container">
      <div class="hero__left">
        <div class="hero__title">
          <h1>Discover Your Dream Property with Estatein</h1>
          <p>
            Your journey to finding the perfect property begins here. Explore our listings to find the home that matches
            your dreams.
          </p>
        </div>
        <div class="hero__buttons">
          <button class="hero__button-black">Learn More</button>
          <button class="hero__button-purple" routerLink="properties">Browse Properties</button>
        </div>
        <div class="hero__stats">
          <div class="hero__item">
            <span>200+</span>
            <p>Happy Customers</p>
          </div>
          <div class="hero__item">
            <span>10k+</span>
            <p>Properties For Clients</p>
          </div>
          <div class="hero__item">
            <span>16+</span>
            <p>Years of Experience</p>
          </div>
        </div>
      </div>
      <div class="hero__right">
        <img src="/home-page/hero-image.jpg" alt="Image">
      </div>
    </div>
  </section>
  <section class="page__icons icons">
    <div class="icons__item">
      <div class="icons__image">
        <img src="/home-page/dream-icon.svg" alt="Icon">
      </div>
      <div class="icons__text">
        Find Your Dream Home
      </div>
    </div>
    <div class="icons__item">
      <div class="icons__image">
        <img src="/home-page/unlock-icon.svg" alt="Icon">
      </div>
      <div class="icons__text">
        Unlock Property Value
      </div>
    </div>
    <div class="icons__item">
      <div class="icons__image">
        <img src="/home-page/effortless-icon.svg" alt="Icon">
      </div>
      <div class="icons__text">
        Effortless Property Management
      </div>
    </div>
    <div class="icons__item">
      <div class="icons__image">
        <img src="/home-page/smart-icon.svg" alt="Icon">
      </div>
      <div class="icons__text">
        Smart Investments
      </div>
    </div>
  </section>
</main>
