<main class="wrapper">
  <section class="discover discover__container">
    <div class="discover__property property">
      <h1>Discover Your Dream Property with Estatein</h1>
      <p>Your journey to finding the perfect property begins here. Explore our listings to find the home that matches
        your dreams.</p>
      <div class="property__buttons buttons">
        <button class="buttons__black">Learn More</button>
        <button class="buttons__purple">Browse Properties</button>
      </div>
    </div>
    <div class="discover__image">
      <img src="/discover/discover-image.jpg" alt="Property Image">
    </div>
  </section>
</main>
