<header class="header">
  <div class="header__container">
  <div class="header__image">
    <img src="/header/estatein-logo.svg" alt="Logo">
  </div>
  <div class="header__menu menu">
    <ul class="menu__list list">
      <li class="list__item">
        <a routerLink="">Home</a>
      </li>
      <li class="list__item">
        <a routerLink="">About Us</a>
      </li>
      <li class="list__item">
        <a href="#">Properties</a>
      </li>
      <li class="list__item">
        <a href="#">Services</a>
      </li>
    </ul>
  </div>
  <div class="header__button">
    <button>Contact Us</button>
  </div>
  </div>
</header>
