<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <img src="/header/logo.svg" alt="Logo">
    </div>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a routerLink="">Home</a>
        </li>
        <li class="nav__item">
          <a href="#">About Us</a>
        </li>
        <li class="nav__item">
          <a routerLink="properties">Properties</a>
        </li>
        <li class="nav__item">
          <a href="#">Services</a>
        </li>
      </ul>
    </nav>
    <div class="header__button">
      <button>Contact Us</button>
    </div>
    <app-burger-menu [isActive]="this.isActive" class="header__burger" (click)="onClick()"/>
  </div>
</header>
<div class="mobile" [ngClass]="isActive ? '' : 'header__mobile'">
  <ul class="mobile__nav">
    <li class="mobile__item">
      <a routerLink="" (click)="onClick()">Home</a>
    </li>
    <li class="mobile__item">
      <a routerLink="about-us" (click)="onClick()">About Us</a>
    </li>
    <li class="mobile__item">
      <a routerLink="properties" (click)="onClick()">Properties</a>
    </li>
    <li class="mobile__item">
      <a routerLink="services" (click)="onClick()">Services</a>
    </li>
  </ul>
  <button>Contact Us</button>
</div>
