@import "../../../base-scss/mixins";
@import "../../../base-scss/variables";

.header {
  padding-top: toRem(22);
  padding-bottom: toRem(22);
  background-color: #1A1A1A;
  border-top: #262626 1px solid;
  border-bottom: #262626 1px solid;
  @media (max-width: $tablet) {
    padding-bottom: toRem(8);
    padding-top: toRem(8);
  }
  @media (max-width: $mobile) {
    padding-bottom: toRem(10);
    padding-top: toRem(10);
  }

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    column-gap: toRem(455);
    text-align: center;
    @media (max-width: $pc) {
      column-gap: toRem(80);

    }
    @media (max-width: $tablet) {
      column-gap: toRem(20);
    }
    @media (max-width: $mobile-small) {
      gap: toRem(1);
      text-align: center;
    }
  }

  &__image {
    img {
      height: toRem(48);
      width: toRem(160);
      display: inline;
      @media (max-width: $tablet) {
        height: toRem(34);
        width: toRem(113);
      }
      @media (max-width: $mobile-small) {
        width: toRem(93);
        height: toRem(28);
        align-self: center;
      }
    }

  }

  &__menu {
  }

  &__list {
  }

  &__button {
    @media (max-width: $mobile-small) {
      display: none;
    }
    button {
      color: white;
      background-color: #141414;
      padding: 16px 24px 16px 24px;
      border-style: solid;
      border-color: #262626;
      border-width: 1px;
      border-radius: toRem(10);

      &:hover {
        background-color: #703BF7;
      }

      transition: all 0.5s ease;
    }
  }
}

.menu {
  display: flex;

  &__list {
    display: flex;
    justify-content: space-around;
    gap: toRem(60);
    @media (max-width: $mobile) {
      gap: toRem(30);
      text-align: center;
    }
  }

  button {
    display: none;
    color: white;
    background-color: #141414;
    padding: 16px 24px 16px 24px;
    border-style: solid;
    border-color: #262626;
    border-width: 1px;
    border-radius: toRem(10);

    &:hover {
      background-color: #703BF7;
    }

    transition: all 0.5s ease;
    @media (max-width: $mobile) {
      display: flex;
    }
  }
}

.list {
  &__item {
    font-family: "Urbanist", serif;
    line-height: 150%;
    font-weight: 500;
    @media (max-width: $mobile-small) {
      font-size: toRem(16);
    }

    a:hover {
      color: #703BF7;
      transition: color 0.5s ease;
    }
  }
}
