.header {

  padding: 25px 0;
  border: #262626 solid 1px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__logo {
  }

  &__nav {
  }

  &__button {
    color: white;
    button {
      padding: 16px 24px;
      background-color: #141414;
      border: #262626 solid 1px;
      border-radius: 10px;
      &:hover {
        background-color: #703BF7;
      }
      transition: background-color 0.5s ease-in-out;
    }
  }
}

.nav {

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    a {
      color: white;
      &:hover {
        padding: 14px 24px;
        border-radius: 10px;
        border: #262626 solid 1px;
      }
      transition: all 0.3s ease-out;
    }
  }
}

