.property {
  padding: 40px 40px;
  border: 1px solid #262626;
  border-radius: 15px;
  color: white;
  @media (max-width: 1460px) {
    padding: 10px 10px;
  }

  &__card {
  }

  &__image {
    margin-bottom: 30px;
    img {
      border-radius: 15px;
    }
  }

  &__location {
    color: white;
    padding: 8px 14px;
    border: 1px solid #262626;
    border-radius: 15px;
    max-width: 344px;
    margin-bottom: 20px;
  }

  &__details {
    span {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 6px;
    }
    p {
      color: #999999;
      max-width: 432px;
      margin-bottom: 30px;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-self: center;
    gap: 50px;
  }

  &__price {
    span {
      color: #999999;
    }
    p {
      font-size: 24px;
      font-weight: 600;

    }
  }

  &__button {
    button {
      padding: 18px 48px;
      background-color: #703BF7;
      border-radius: 10px;
      @media (max-width: 1460px) {
        padding: 10px 10px;
      }
      &:hover {
        background-color: #999999;
      }
      transition: all 0.5s ease-in-out;
    }
  }
}

